<ul>
  <% @products.each do |product| %>
    <li>
      <a>Name: <%= product.title %></a>
      <a>Price: <%= product.price %></a>
      <% if session[:profile_id]%>
        <% if !Profile.find(session[:profile_id]).cart.ordered_product.find_by(product_id: product.id) %>
          <form action="<%= add_product_to_cart_path %>" accept-charset="UTF-8" method="post">
            <input hidden name="product[cart_id]" value="<%= session[:cart_id] %>">
            <input hidden name="product[product_id]" value="<%= product.id%>">
            <input type="submit" name="commit" value="Добавить в корзину">
          </form>
        <% else %>
          <a>Уже в корзине</a>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>