<html>
  <head>
    <meta charset="utf-8">
    <title>Главная страница</title>
  </head>
  <body>
    <ul>
      <% @products.each do |product| %>
        <li>
          <a>Name: <%= product.title %></a>
          <a>Price: <%= product.price %></a>
          <a>Count: <%= product.count %></a>
          <form action="<%= delete_product_path(product)%>" accept-charset="UTF-8" method="get">
            <div><input type="submit" name="commit" value="Удалить продукт"></div>
          </form>
          <% if session[:cart_id] %>
            <form action="<%= add_product_to_cart_path %>" accept-charset="UTF-8" method="post">
              <input hidden name="product[cart_id]" value="<%= session[:cart_id] %>">
              <input hidden name="product[product_id]" value="<%= product.id%>">
              <input type="submit" name="commit" value="Добавить в корзину">
            </form>
          <% end %>
        </li>
      <% end %>
    </ul>
  </body>
</html>