<!DOCTYPE html>
<html>
  <head>
    <title>MusicShop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div style="text-align: center">
      <a href="<%= main_path %>">Главная страница</a>
      <a href="<%= new_product_path %>">Новый продукт</a>
      <a href="<%= products_path %>">Все продукты</a>
      <a href="<%= admin_all_orders_path %>">Заказы</a>
      <% if session[:profile_id] %>
          <a href="<%= profile_path(Profile.find_by(id: session[:profile_id])) %>">Аккаунт</a>
          <a href="<%= cart_path %>">Корзина</a>
          <a href="<%= logout_path %>">Выйти</a>
      <% else %>
          <a href="<%= login_path %>">Войти</a>
          <a href="<%= signup_path %>">Создать</a>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
