<!DOCTYPE html>
<html>
  <head>
    <title>MusicShop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div style="text-align: center">
      <a href="<%= main_path %>">Главная страница</a>
      <a href="<%= new_product_path %>">Новый продукт</a>
      <a href="<%= products_path %>">Все продукты</a>
    </div>
    <%= yield %>
  </body>
</html>
